<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recover PIN</title>
</head>
<body>
<h1>Welcome, <%= user.name %></h1>
<p>Email: <%= user.email %></p>
<p>Phone: <%= user.phone %></p>
<p>DOB: <%= user.dob %></p>
</body>
</html>
